In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("juhibhojani/house-price")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'house-price' dataset.
Path to dataset files: /kaggle/input/house-price

In [2]:
import numpy as np
import pandas as pd
import os

csv_path = os.path.join(path, "house_prices.csv")
df = pd.read_csv(csv_path)

### **A. Basic Dataset Inspection & Cleaning**

In [3]:
house_price=df.copy()
house_price.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

In [4]:
house_price.sample(5)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
179529,179529,2 BHK Ready to Occupy Flat for sale Nana Varachha,Discover this immaculate 2 BHK flat for sale a...,17 Lac,2267.0,surat,NaN,Ready to Move,3 out of 4,Resale,...,NaN,NaN,NaN,1,NaN,NaN,NaN,750 sqft,NaN,NaN
1907,1907,2 BHK Ready to Occupy Flat for sale in Monte S...,"This lovely 2 BHK Flat in Byculla, Mumbai is u...",4.04 Cr,NaN,mumbai,856 sqft,Ready to Move,NaN,New Property,...,NaN,NaN,Monte South,2,NaN,NaN,NaN,NaN,NaN,NaN
166133,166133,2 BHK Ready to Occupy Flat for sale Thatipur,This magnificent 2 BHK Flat is available for s...,23 Lac,3538.0,gwalior,625 sqft,Ready to Move,2 out of 3,Resale,...,NaN,NaN,NaN,2,1,NaN,NaN,NaN,NaN,NaN
181493,181493,3 BHK Ready to Occupy Flat for sale Vasna Bhay...,This exquisite 3 BHK Flat is offered for sale ...,45 Lac,2727.0,vadodara,1050 sqft,Ready to Move,5 out of 7,New Property,...,East,"Garden/Park, Pool, Main Road",NaN,3,2,1 Covered,Freehold,NaN,NaN,NaN
145332,145332,3 BHK Ready to Occupy Flat for sale in Shantib...,3 BHK flat available for sale in Pune in the p...,80 Lac,6667.0,pune,900 sqft,Ready to Move,3 out of 11,Resale,...,East,"Garden/Park, Main Road",Shantiban,2,2,NaN,Co-operative Society,NaN,NaN,NaN

In [5]:
house_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [6]:
house_price.describe()

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

In [7]:
house_price.isnull()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,True,True
3,False,False,False,False,True,False,False,False,False,False,...,True,True,True,False,False,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,True
187527,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,True,False,True,False,True,True
187528,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,True
187529,False,False,False,False,False,False,True,False,False,False,...,True,False,False,False,True,True,True,False,True,True
187530,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [8]:
house_price.isnull().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

In [9]:
house_price.count()

Index                187531
Title                187531
Description          184508
Amount(in rupees)    187531
Price (in rupees)    169866
location             187531
Carpet Area          106858
Status               186916
Floor                180454
Transaction          187448
Furnishing           184634
facing               117298
overlooking          106095
Society               77853
Bathroom             186703
Balcony              138596
Car Parking           84174
Ownership            122014
Super Area            79846
Dimensions                0
Plot Area                 0
dtype: int64

In [10]:
house_price.shape

(187531, 21)

In [12]:
house_price.size

3938151

In [13]:
house_price[['Dimensions', 'Plot Area']]

        Dimensions  Plot Area
0              NaN        NaN
1              NaN        NaN
2              NaN        NaN
3              NaN        NaN
4              NaN        NaN
...            ...        ...
187526         NaN        NaN
187527         NaN        NaN
187528         NaN        NaN
187529         NaN        NaN
187530         NaN        NaN

[187531 rows x 2 columns]

In [14]:
house_price.drop(['Dimensions', 'Plot Area'], axis=1, inplace=True)

In [15]:
house_price.columns

Index(['Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Floor',
       'Transaction', 'Furnishing', 'facing', 'overlooking', 'Society',
       'Bathroom', 'Balcony', 'Car Parking', 'Ownership', 'Super Area'],
      dtype='object')

In [16]:
house_price.isnull().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
dtype: int64

## **Handling Missing Values of Bathroom, Transaction, Status, Furnishing and Description**

In [17]:
house_price['Transaction'].mode()

0    Resale
Name: Transaction, dtype: object

In [19]:
house_price['Transaction'] = house_price['Transaction'].fillna(house_price['Transaction'].mode()[0])

In [22]:
house_price["Transaction"].isnull().sum()

np.int64(0)

In [31]:
(house_price['Bathroom'] == '2').sum()

np.int64(93007)

In [34]:
house_price['Bathroom'].value_counts()

Bathroom
2       93007
3       55781
1       18654
4       15600
5        3343
6         209
7          35
> 10       35
10         14
8          14
9          11
Name: count, dtype: int64

In [38]:
(house_price['Bathroom']).dtype

dtype('O')

In [40]:
house_price['Bathroom'] = pd.to_numeric(house_price['Bathroom'], errors='coerce')

In [44]:
(house_price['Bathroom']).value_counts()

Bathroom
2.0     93007
3.0     55781
1.0     18654
4.0     15600
5.0      3343
6.0       209
7.0        35
10.0       14
8.0        14
9.0        11
Name: count, dtype: int64

In [46]:
house_price['Bathroom'] = house_price['Bathroom'].fillna(house_price['Bathroom'].mode()[0])

In [48]:
house_price['Bathroom'].isnull().sum()

np.int64(0)

In [50]:
house_price["Status"].isnull().sum()

np.int64(615)

In [52]:
house_price["Status"].value_counts()

Status
Ready to Move    186916
Name: count, dtype: int64

In [54]:
house_price["Status"].unique()

array(['Ready to Move', nan], dtype=object)

In [60]:
house_price['Status'] = house_price['Status'].fillna('Ready to Move')

In [62]:
house_price["Status"].isnull().sum()

np.int64(0)

In [63]:
(house_price['Furnishing']).value_counts()

Furnishing
Semi-Furnished    88318
Unfurnished       76154
Furnished         20162
Name: count, dtype: int64

In [65]:
(house_price['Furnishing']).isnull().sum()

np.int64(2897)

In [67]:
house_price['Furnishing'].sample(10)

70922        Unfurnished
80750        Unfurnished
21455                NaN
33220        Unfurnished
85049          Furnished
178973       Unfurnished
20552     Semi-Furnished
34475                NaN
109887       Unfurnished
6876         Unfurnished
Name: Furnishing, dtype: object

In [69]:
house_price['Furnishing'] = house_price['Furnishing'].fillna('Semi-Furnished')

In [71]:
house_price['Furnishing'].isnull().sum()

np.int64(0)

In [73]:
house_price['Description'].isnull().sum()

np.int64(3023)

In [74]:
house_price['Description'].value_counts()

Description
Multistorey apartment is available for sale. It is a good location property. Please contact for more details.                                                                                                                                                                                                                                                                                                                                                                                                                                              2732
Creatively planned and constructed is a 3 BHK flat for sale in Dwarka Sector 4, New Delhi. This flat is placed in a marvellous location within the Defence Officers Apartment complex. This flat all equipped with required facilities, is up for resale. This ready to move flat in Dwarka Sector 4 comes at an affordable price of INR 1.58 Cr. Available in semi-furnished state, this flat is a great buy. The flat is easily approachable because it is near to nk bagrodia public school.                                                             821
This gorgeous 2 BHK Flat is available for sale in Aya Nagar, New Delhi. Your hunt for the perfect apartment for resale comes to an end here. Available at a reasonable selling price of INR 32 Lac, this ready to move apartment in Aya Nagar is a great buy. This immaculate flat boasts of coming in unfurnished form which takes the entire deal to the next level. mandir are some of the key nearby landmarks.                                                                                                                                         821
This gorgeous 2 BHK Flat is available for sale in Punjabi Bagh East, New Delhi. This flat for resale has a desirable location. The ready to move flat in Punjabi Bagh East is all ready for sale at a low-priced budget of INR 1.69 Cr. This flat is an ideal choice because it is an semi-furnished apartment with all basic amenities.                                                                                                                                                                                                                    821
4 BHK flat available for sale in New Delhi in the prime location of Dwarka Sector 18. Enjoying a prime location, this property is housed in the Hamdam Apartment society. This flat all equipped with required facilities, is up for resale. In Dwarka Sector 18, this ready to move flat is available at an attractive price of INR 2.68 Cr. This premium semi-furnished flat spells quality and comfort at a competitive price. Prominent landmarks in and around this locality are venkateshwar hospital.                                                821
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ...
This gorgeous 4 BHK Flat is available for sale in Guru Harikishan Nagar, New Delhi. This apartment for resale is a great choice. This apartment ready to move in the Guru Harikishan Nagar is available for an attractive price of INR 2.90 Cr. It is semi-furnished to accommodate your needs.                                                                                                                                                                                                                                                               1
This ready to move-in 3 BHK flat is available for sale at the premium Ghanta Ghar Road in New Delhi. This flat for resale has a desirable location. This ready to move flat in Ghanta Ghar Road is available for a reasonable price of INR 40 Lac. The apartment is semi-furnished.                                                                                                                                                                                                                                                                           1
Vasant Kunj Enclave, New Delhi has an appealing 4 BHK flat for sale with various amenities. This apartment for resale is a great choice. Located in Vasant Kunj Enclave, this ready to move apartment is sold at a fair selling price of INR 1.30 Cr. The spacious apartment is unfurnished. Some of the landmarks in the vicinity include it is in front of ms dhoni new house in delhi.                                                                                                                                                                     1
Up for immediate sale is a 4 BHK apartment in Saket, New Delhi. Don't miss this bargain flat for sale. Enjoying a prime location, this property is housed in the Dda Golf View Apartments society. This flat is available as a resale property. In Saket, this ready to move flat is available at an attractive price of INR 2.70 Cr. This unfurnished flat is strategically designed with all the amenities to enhance the living experience. very close to metro station saket or malls market are some of the well-known landmarks in this locality.       1
Have a look at this immaculate 2 BHK flat for sale in Chhattarpur, New Delhi. The property is ideally located in a strategic location in Jvts Gardens township. This is one of the best properties available for sale. The ready to move flat in the prime area of Chhattarpur is available at a reasonable price of INR 30 Lac. This contemporary apartment is semi-furnished.                                                                                                                                                                               1
Name: count, Length: 65634, dtype: int64

In [76]:
house_price['Description'] = house_price['Description'].fillna('Multistorey apartment is available for sale. It is a good location property. Please contact for more details.')

In [78]:
house_price['Description'].isnull().sum()

np.int64(0)

### **Removing Unnecessary Features**

In [100]:
#house_price = house_price.drop(['Title', 'Description', 'Status', 'facing', 'overlooking', 'Society', 'Ownership'], axis=1) #(Already Deleted)

In [93]:
house_price.columns

Index(['Index', 'Amount(in rupees)', 'Price (in rupees)', 'location',
       'Carpet Area', 'Floor', 'Transaction', 'Furnishing', 'Bathroom',
       'Balcony', 'Car Parking', 'Super Area'],
      dtype='object')

In [94]:
house_price.count()

Index                187531
Amount(in rupees)    187531
Price (in rupees)    169866
location             187531
Carpet Area          106858
Floor                180454
Transaction          187531
Furnishing           187531
Bathroom             187531
Balcony              138596
Car Parking           84174
Super Area            79846
dtype: int64

In [95]:
house_price['Floor'].value_counts()

Floor
2 out of 4                  12433
1 out of 4                  11985
3 out of 4                   8792
1 out of 3                   7093
4 out of 4                   6253
                            ...
32 out of 33                    1
Lower Basement out of 23        1
Ground out of 29                1
12                              1
7 out of 70                     1
Name: count, Length: 947, dtype: int64

In [97]:
house_price['Floor'] = house_price['Floor'].fillna('2 out of 4')

In [98]:
house_price['Floor'].isnull().sum()

np.int64(0)

In [105]:
house_price.rename(columns={'Amount(in rupees)': 'Amount'}, inplace=True)

In [110]:
house_price.rename(columns={'Price (in rupees)': 'Price'}, inplace=True)

In [114]:
house_price['Price'].value_counts()

Price
4000.0     2463
5000.0     2286
10000.0    2273
3200.0     1479
18000.0    1420
           ...
10149.0       1
7131.0        1
4006.0        1
6626.0        1
13799.0       1
Name: count, Length: 10958, dtype: int64

In [117]:
house_price['Price'] = house_price['Price'].fillna(house_price['Price'].mean())

In [119]:
house_price['Price'].isnull().sum()

np.int64(0)

In [121]:
house_price[['Carpet Area', 'Balcony', 'Car Parking', 'Super Area']]

       Carpet Area Balcony Car Parking Super Area
0         500 sqft       2         NaN        NaN
1         473 sqft     NaN      1 Open        NaN
2         779 sqft     NaN   1 Covered        NaN
3         530 sqft       1         NaN        NaN
4         635 sqft     NaN   1 Covered        NaN
...            ...     ...         ...        ...
187526         NaN       3   1 Covered  1953 sqft
187527         NaN     NaN   1 Covered  1680 sqft
187528   1250 sqft       2  1 Covered,        NaN
187529         NaN     NaN         NaN   709 sqft
187530         NaN       4   1 Covered  1915 sqft

[187531 rows x 4 columns]

In [123]:
house_price['Balcony'].value_counts()

Balcony
2       51809
1       49219
3       27111
4        9420
5         841
6         132
> 10       22
7          14
10         13
8          13
9           2
Name: count, dtype: int64

In [126]:
house_price['Balcony'] = house_price['Balcony'].fillna(house_price['Balcony'].mode()[0])

In [127]:
house_price.isnull().sum()

Index               0
Amount              0
Price               0
location            0
Carpet Area     80673
Floor               0
Transaction         0
Furnishing          0
Bathroom            0
Balcony             0
Car Parking    103357
Super Area     107685
dtype: int64

## **Handling And Cleaning Carpet Area and Super Area**

In [128]:
house_price.rename(columns={'Carpet Area': 'Carpet Area (Sqft)'}, inplace=True)

In [129]:
house_price.rename(columns={'Super Area': 'Super Area (Sqft)'}, inplace=True)

In [131]:
house_price['Carpet Area (Sqft)'] = house_price['Carpet Area (Sqft)'].astype(str)

house_price['Carpet Area (Sqft)'] = house_price['Carpet Area (Sqft)'].str.replace(r'[^0-9.]', '', regex=True)

house_price['Carpet Area (Sqft)'] = pd.to_numeric(house_price['Carpet Area (Sqft)'], errors='coerce')

In [133]:
house_price['Carpet Area (Sqft)'] = house_price['Carpet Area (Sqft)'].fillna(house_price['Carpet Area (Sqft)'].mean())

In [134]:
house_price['Super Area (Sqft)'] = house_price['Super Area (Sqft)'].astype(str)

house_price['Super Area (Sqft)'] = house_price['Super Area (Sqft)'].str.replace(r'[^0-9.]', '', regex=True)

house_price['Super Area (Sqft)'] = pd.to_numeric(house_price['Super Area (Sqft)'], errors='coerce')

In [136]:
house_price['Super Area (Sqft)'] = house_price['Super Area (Sqft)'].fillna(house_price['Super Area (Sqft)'].mean())

In [137]:
house_price.isnull().sum()

Index                      0
Amount                     0
Price                      0
location                   0
Carpet Area (Sqft)         0
Floor                      0
Transaction                0
Furnishing                 0
Bathroom                   0
Balcony                    0
Car Parking           103357
Super Area (Sqft)          0
dtype: int64

In [141]:
house_price['Car Parking'].value_counts()

Car Parking
1 Covered      38754
1 Covered,     16991
2 Covered      10691
1 Open          7873
2 Covered,      3978
               ...
206 Covered        1
205 Covered        1
11 Covered,        1
403 Covered        1
702 Open           1
Name: count, Length: 229, dtype: int64

In [142]:
house_price['Car Parking'] = house_price['Car Parking'].astype(str)

In [143]:
house_price['Car Parking'] = house_price['Car Parking'].str.strip().str.rstrip(',')

In [144]:
house_price['Car Parking'].value_counts()

Car Parking
nan            103357
1 Covered       55745
2 Covered       14669
1 Open           7873
2 Open           2589
                ...
207 Covered         1
104 Covered         1
205 Covered         1
403 Covered         1
702 Open            1
Name: count, Length: 208, dtype: int64

In [160]:
house_price['Car Parking'] = house_price['Car Parking'].fillna('1 Covered')

In [161]:
house_price.isnull().sum()

Index                      0
Amount                     0
location                   0
Carpet Area (Sqft)         0
Floor                      0
Transaction                0
Furnishing                 0
Bathroom                   0
Balcony                    0
Car Parking                0
Super Area (Sqft)          0
Price                      0
Price_Unit            187531
dtype: int64

In [164]:
house_price['Amount'].value_counts()

Amount
Call for Price    9684
85 Lac            5264
65 Lac            4229
60 Lac            3869
70 Lac            3801
                  ...
8.8 Lac              1
80 Cr                1
1.5 Lac              1
24.4 Lac             1
9.90 Cr              1
Name: count, Length: 1561, dtype: int64

In [170]:
# Ensure string
house_price['Amount'] = house_price['Amount'].astype(str)

# Extract number part
house_price['Amount_Number'] = house_price['Amount'].str.extract(r'([\d.]+)')[0].astype(float)

# Extract unit part
house_price['Amount_Unit'] = house_price['Amount'].str.extract(r'([a-zA-Z]+)')[0]

In [172]:
house_price['Amount_Unit'].value_counts()

Amount_Unit
Lac     112568
Cr       65279
Call      9684
Name: count, dtype: int64

In [174]:
house_price['Amount_Unit'] = house_price['Amount_Unit'].replace('Call', pd.NA)

In [175]:
house_price['Amount_Unit'].value_counts()

Amount_Unit
Lac    112568
Cr      65279
Name: count, dtype: int64

In [178]:
house_price['Amount_Number'].isnull().sum()

np.int64(9684)

In [179]:
def convert_to_rupees(row):
    unit = str(row['Amount_Unit']).lower()  # make lowercase for consistency
    if unit in ['lac', 'lacs']:
        return row['Amount_Number'] * 100_000
    elif unit in ['cr', 'crore']:
        return row['Amount_Number'] * 10_000_000
    else:
        return row['Amount_Number']  # unknown or NaN unit
house_price['Amount_Number'] = house_price.apply(convert_to_rupees, axis=1)

In [182]:
house_price.columns

Index(['Index', 'Amount', 'location', 'Carpet Area (Sqft)', 'Floor',
       'Transaction', 'Furnishing', 'Bathroom', 'Balcony', 'Car Parking',
       'Super Area (Sqft)', 'Price', 'Price_Unit', 'Amount_Number',
       'Amount_Unit'],
      dtype='object')

In [183]:
house_price.drop(['Price_Unit'], axis=1, inplace=True)

In [185]:
house_price.columns

Index(['Index', 'Amount', 'location', 'Carpet Area (Sqft)', 'Floor',
       'Transaction', 'Furnishing', 'Bathroom', 'Balcony', 'Car Parking',
       'Super Area (Sqft)', 'Price', 'Amount_Number', 'Amount_Unit'],
      dtype='object')

In [187]:
house_price

,Index,Amount,location,Carpet Area (Sqft),Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Super Area (Sqft),Price,Amount_Number,Amount_Unit
0,0,42 Lac,thane,500.000000,10 out of 11,Resale,Unfurnished,1.0,2,nan,1323.173246,6000.000000,4200000.0,Lac
1,1,98 Lac,thane,473.000000,3 out of 22,Resale,Semi-Furnished,2.0,2,1 Open,1323.173246,13799.000000,9800000.0,Lac
2,2,1.40 Cr,thane,779.000000,10 out of 29,Resale,Unfurnished,2.0,2,1 Covered,1323.173246,17500.000000,14000000.0,Cr
3,3,25 Lac,thane,530.000000,1 out of 3,Resale,Unfurnished,1.0,1,nan,1323.173246,7583.771885,2500000.0,Lac
4,4,1.60 Cr,thane,635.000000,20 out of 42,Resale,Unfurnished,2.0,2,1 Covered,1323.173246,18824.000000,16000000.0,Cr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,187526,63 Lac,zirakpur,1199.795186,2 out of 4,New Property,Semi-Furnished,3.0,3,1 Covered,1953.000000,3225.000000,6300000.0,Lac
187527,187527,55 Lac,zirakpur,1199.795186,4 out of 6,Resale,Unfurnished,3.0,2,1 Covered,1680.000000,3274.000000,5500000.0,Lac
187528,187528,76 Lac,zirakpur,1250.000000,1 out of 3,Resale,Furnished,3.0,2,1 Covered,1323.173246,4343.000000,7600000.0,Lac
187529,187529,30 Lac,zirakpur,1199.795186,2 out of 2,Resale,Semi-Furnished,2.0,2,nan,709.000000,4231.000000,3000000.0,Lac
187530,187530,1.18 Cr,zirakpur,1199.795186,5 out of 13,Resale,Semi-Furnished,4.0,4,1 Covered,1915.000000,6162.000000,11800000.0,Cr

In [189]:
house_price.isnull().sum()

Index                    0
Amount                   0
location                 0
Carpet Area (Sqft)       0
Floor                    0
Transaction              0
Furnishing               0
Bathroom                 0
Balcony                  0
Car Parking              0
Super Area (Sqft)        0
Price                    0
Amount_Number         9684
Amount_Unit           9684
dtype: int64

In [190]:
house_price['Amount_Number'] = house_price['Amount_Number'].fillna(house_price['Amount_Number'].mean())

In [191]:
house_price.isnull().sum()

Index                    0
Amount                   0
location                 0
Carpet Area (Sqft)       0
Floor                    0
Transaction              0
Furnishing               0
Bathroom                 0
Balcony                  0
Car Parking              0
Super Area (Sqft)        0
Price                    0
Amount_Number            0
Amount_Unit           9684
dtype: int64

In [192]:
house_price.drop(['Amount_Unit'], axis=1, inplace=True)

In [193]:
house_price.isnull().sum()

Index                 0
Amount                0
location              0
Carpet Area (Sqft)    0
Floor                 0
Transaction           0
Furnishing            0
Bathroom              0
Balcony               0
Car Parking           0
Super Area (Sqft)     0
Price                 0
Amount_Number         0
dtype: int64

In [197]:
house_price.drop(['Amount'], axis=1, inplace=True)

In [198]:
house_price.rename(columns={'Amount_Number': 'Amount'}, inplace=True)

In [200]:
house_price

,Index,location,Carpet Area (Sqft),Floor,Transaction,Furnishing,Bathroom,Balcony,Car Parking,Super Area (Sqft),Price,Amount
0,0,thane,500.000000,10 out of 11,Resale,Unfurnished,1.0,2,nan,1323.173246,6000.000000,4200000.0
1,1,thane,473.000000,3 out of 22,Resale,Semi-Furnished,2.0,2,1 Open,1323.173246,13799.000000,9800000.0
2,2,thane,779.000000,10 out of 29,Resale,Unfurnished,2.0,2,1 Covered,1323.173246,17500.000000,14000000.0
3,3,thane,530.000000,1 out of 3,Resale,Unfurnished,1.0,1,nan,1323.173246,7583.771885,2500000.0
4,4,thane,635.000000,20 out of 42,Resale,Unfurnished,2.0,2,1 Covered,1323.173246,18824.000000,16000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
187526,187526,zirakpur,1199.795186,2 out of 4,New Property,Semi-Furnished,3.0,3,1 Covered,1953.000000,3225.000000,6300000.0
187527,187527,zirakpur,1199.795186,4 out of 6,Resale,Unfurnished,3.0,2,1 Covered,1680.000000,3274.000000,5500000.0
187528,187528,zirakpur,1250.000000,1 out of 3,Resale,Furnished,3.0,2,1 Covered,1323.173246,4343.000000,7600000.0
187529,187529,zirakpur,1199.795186,2 out of 2,Resale,Semi-Furnished,2.0,2,nan,709.000000,4231.000000,3000000.0
187530,187530,zirakpur,1199.795186,5 out of 13,Resale,Semi-Furnished,4.0,4,1 Covered,1915.000000,6162.000000,11800000.0